@font-face {
    font-family: 'myfirstfont' ;
    src: url('/Users/stanislav/webdev/Intermediate_HTML_CSS/Sign-Up-Form/Norse-Bold.otf');
}
.img{ 
    
    width: 50%;
    min-height: 100vh;
    
   background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
    
    background-size: cover;
    display: flex;
   flex-direction: column;
 
}
body{
    display: flex;
    flex-grow: 1;
    margin: 0;
   
      
}
.odin_logo{
    font-family: 'myfirstfont';
    color: white;
    max-height: 15vh;
    width: 15vh;
}
html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
.words{
    padding: 10px;
    margin-top: 15px;

    color: white;
    font-family: 'myfirstfont';
    font-size: 90px;
}
.background{    
    margin-top: 35%;
    background-color: rgba(0, 0, 0, 0.5);  
    /*top: 20vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    flex: 1;
    flex-direction: column;
    
    background-color: #f9fafb;
    
}
.test{
    
   
    padding: 10px;
    padding-left: 40px;
   background-color: white;
   box-shadow: 0 1px 1px gray;
   
}
input{
    display: block;
     width: 220px;
     border-color: #E5E7EB;
   
}
input:focus{
    
}




.Title{
    margin-top: auto;
    margin-bottom: 20px;
    padding: 10px;

}
.signup{
    margin-top: 30px;
    padding: 10px;
}
.login{
    margin-bottom: auto;
    text-decoration:none
    
}
.extra{
    display: flex;
    flex-wrap: wrap ;
    column-gap: 84px;
    row-gap: 18px;
    margin-bottom: 18px;
   /* display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;*/
}
h3{
    padding-bottom: 10px;
    margin-top: 10px;
}
.signup{
    display: flex;
    justify-content: center;
    background-color: #596D48;
    color: white;
    border-radius: 4px;
    width: 150px;
    margin-left: 40px;

}
.signup:hover{
    background-color: #86a56c;

}
.login{
    
}
.Title{
    margin-top: 120px;
    width: 550px;
    font-weight: bold;
    font-size: larger;
    margin-left: 10px;
}
.outer{
     display: flex;
     align-items: center;
     margin-left: 40px;
     margin-top: 20px;
}
.login{
    color: #596D48;
    padding-left:3px ;
}